<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="EndPointUrl" value="__DBUrl__" />
    <add key="AuthorizationKey" value="__accesskey__" />
    <add key="DatabaseName" value="TestDB" />
    <add key="CollectionName" value="TestColl1" />
    <add key="CollectionThroughput" value="10000" />
    <add key="ShouldCleanupOnStart" value="true" />
    <add key="ShouldCleanupOnFinish" value="false" />
    <add key="NumberOfDocumentsToImport" value="10000" />
    <add key="NumberOfBatches" value="10" />
    <add key="CollectionPartitionKey" value="/profileid" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>