<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="SourceCosmosDBSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="TargetCosmosDBSettings" type="System.Configuration.NameValueSectionHandler" />
    <section name="SampleCosmosDBSettings" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <SourceCosmosDBSettings>
    <add key="EndpointUrl" value="__url__" />
    <add key="AccessKey" value="__key__" />
    <add key="DatabaseName" value="TestDB" />
    <add key="CollectionName" value="__Coll__" />
    <add key="ReadDelaybetweenRequestsInMs" value="2000" />
  </SourceCosmosDBSettings>
  <TargetCosmosDBSettings>
    <add key="EndpointUrl" value="__url__" />
    <add key="AccessKey" value="__key__" />
    <add key="DatabaseName" value="TestDB" />
    <add key="CollectionName" value="__Coll__" />
    <add key="OfferThroughputRUs" value="10000" />
  </TargetCosmosDBSettings>
  <SampleCosmosDBSettings>
    <add key="EndpointUrl" value="__url__" />
    <add key="AccessKey" value="__AccessKey__" />
    <add key="ConnString" value="__connString__" />
    <add key="DatabaseName" value="TestDB" />
    <add key="IsFixedCollection" value="true" />
    <add key="CollectionName" value="TestSuperColl1" />
    <add key="OfferThroughputRUs" value="10000" />
  </SampleCosmosDBSettings>
  <appSettings>
    <add key="CopyStoredProcedures" value="true" />
    <add key="CopyUDFs" value="true" />
    <add key="CopyTriggers" value="true" />
    <add key="CopyDocuments" value="true" />
    <add key="CopyIndexingPolicy" value="true" />
    <add key="ReadBatchSize" value="3500" />
    <add key="CopyPartitionKey" value="true" />
    <add key="WriteBatchSize" value="9000" />
    <add key="WriteBatchCount" value="10000" />
    <add key="EnableTextLogging" value="true" />
    <add key="PopTextFileOnEnd" value="true" />
    <add key="SourceOfferThroughputRUs" value="10000" />
    <add key="TargetMigrationOfferThroughputRUs" value="10000" />
    <add key="TargetRestOfferThroughputRUs" value="1100" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ScrubbingRequired" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Documents.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>